<%- include('../../shared/includes/head', { pageTitle: 'Signup'}) %>
<link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/auth.css">
</head>
<body>
    <%- include('../../shared/includes/header') %>
    <main>
        <h1>Create New Account</h1>
        <form action="/signup" method="POST">
            <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
            <p>
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </p>
            <p>
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </p>
            <p>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" minlength="6" required>
            </p>
            <p>
                <label for="confirm-password">Confirm Password</label>
                <input type="password" id="confirm-password" name="confirm-password" required>
            </p>
            <button class="btn">Create Account</button>
            <p id="swtich-form"><a href="/login">Login instead</a></p>
        </form>
    </main>
<%- include('../../shared/includes/footer') %>