<%- include('../../shared/includes/head', { pageTitle: 'Main'}) %>
</head>
<body>
    <%- include('../../shared/includes/header') %>
    <main>
        <div>
            <h1>About</h1>
            <h2>Coding Before FBLA</h2>
            <p>
                I've been coding for a large part of my life. I first started in 4th grade with block
                code programs like scratch. I instantely picked it up and loved messing around and
                learning how to make things. I stuck with block code for a long time up until highschool
                where I started to learn Java. I used Java for around 2 years and this project was
                originally built with Java, but after state I decided to make a complete pivot and
                move into web coding, which I had no previous understanding for. And to my suprise,
                there was way more I needed to learn than what I originally thought.
            </p>
            <h2>This Website</h2>
            <p>
                This website is the creation of around 2 months of learning and taking courses of web
                coding. Despite finals getting in the way for the first month, I have learned a lot to
                make this website. It's built with the main features of html, css, and javascript. I use
                express and node.js to create a backend server as well as mySQL for a database. Both of
                these were completely new to me. In this website, I really tired to empasize good practices
                of nameing conventions and organizing efficently. I also used github which was new and 
                started to learn how to use the VSCode debugger.
            </p>
            <h2>The Future</h2>
            <p>
                In the future, I don't really know what I want to do. I used to love the sound of AI And
                building the future and riding the wave, but more and more I want to move into more of
                an engineering focus, such as aerospace engineering. I would also love to continue
                building websites and imporving even more. I would also like to learn some microsoft
                languages like C++ or C# which is just like Java. I've also had a good bit of interest
                in Virtual Reality and technology like Apple's new Vision Pro. The one thing that I'm
                pretty certain of though, is I never was to touch java or javaFX again.
            </p>
        </div>
    </main>
<%- include('../../shared/includes/footer') %>