<%- include('../../shared/includes/head', { pageTitle: 'Main'}) %>
</head>
<body>
    <%- include('../../shared/includes/header') %>
    <main>
        <div>
            <h1>Getting Started</h1>
            <p>
                Welcome to my fbla website that I made to compete in the coding and programming challenge.
                To learn more about me you can navigate to the about me page.
                To use the website to the fullest and unlock all of its features you will need to sign up and log in.
                Navigation can be found at the top of the screen, including pages for sign up, log in, and a logout button later.
                Below is an FAQ to help answer any potential questions.
                I hope my website is interesting to you and that you can see the effort I put into it!
            </p>
        </div>
        <div>
            <h1>FAQ</h1>
            <h3>How can I delete a student/event/prize?</h3>
            <p>
                You can click on edit event in the table, and from there you may delete the item. Be careful! 
                There is no backups or ways to get the item back after you press delete!
            </p>
            <h3>How do I find the admin password for a school?</h3>
            <p>
                The creator of the school you want to join must give you the correct ID to search for,
                and the correct password to go with it to join the school. From there you will have full accesss
                to the school.
            </p>
            <h3>Is there a limit to the number of students I can have in a school?</h3>
            <p>
                No. There is currently no limit on the amount of students you can add to your school.
            </p>
            <h3>Can I delete schools?</h3>
            <p>
                No. At the moment there is no way to delete a school.
            </p>
            <h3>How do I edit the points on students?</h3>
            <p>
                Points are automatically updated when students participate in events.
            </p>
            <h3>How do I stop being automatically logged out?</h3>
            <p>
                You will be logged out every 24 hours so it shoulldn't be to large of a problem,
                but there is no way currently to prevent this proccess. It also helps relive stress
                from the server.
            </p>
            <h3>If I delete an event will the points be removed from the students?</h3>
            <p>
                Yes. Points are calculated each time a user navigataes to the students page,
                so if the event is deleted the points that go along with it will not be used in the
                calculation.
            </p>
            <h3>Is there a way I can set the id for a student/event/prize/school?</h3>
            <p>
                No. You can not set the id of an item.
            </p>
            <h3>Does the website work on all devices?</h3>
            <p>
                Yes! With the flexibly properties of the website it can be moved to match almost any
                screen size! This includes mobile devies which will have a special menu system when
                the desktop version gets too pressed together.
            </p>
            <h3>Can I change the points for an event after I've created it?</h3>
            <p>
                Yes. You can edit the points of the event by clicking edit on the event in the table.
                After changing and saving the new points it will automatically be accounted for in the 
                points total.
            </p>
        </div>
    </main>
<%- include('../../shared/includes/footer') %>