<%- include('../../shared/includes/head', { pageTitle: 'Main'}) %>
</head>
<body>
    <%- include('../../shared/includes/header') %>
    <main>
        <h1>Main</h1>
        <p>A podium?</p>
    </main>
<%- include('../../shared/includes/footer') %>